<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:zookeeper="http://www.springframework.org/schema/integration/zookeeper"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           https://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/integration/zookeeper
		   http://www.springframework.org/schema/integration/zookeeper/spring-integration-zookeeper.xsd
		   http://www.springframework.org/schema/integration
		   http://www.springframework.org/schema/integration/spring-integration-5.1.xsd">	

	<context:property-placeholder location="classpath:rabbitmq.properties, classpath:queues.properties" />

	<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.host}" 
		port="${rabbitmq.port}"
		username="${rabbitmq.username}"
		password="${rabbitmq.password}" />
		
	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" />
	<rabbit:admin connection-factory="connectionFactory" />
	<rabbit:queue name="${queue.myqueue.name}"/> 

</beans> 